<!-- <div style="background: #ffffff; width: 100%; height: 100%; text-align: center; padding-bottom: 20px;">
    <br><br><br>
    <div class="row" style="margin: 0px;">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="resumen-servicio">
                <img routerLink="menu/inteligencia_negocio" src="assets/icono/principal/inteligencia-de-negocios.png"
                    class="imgzoom p-mr-2 ng-star-inserted">
                <div class="titulo-icono-slider">
                    <h2>Inteligencia de Negocios</h2>
                </div>
                <p>Combina análisis de negocios, minería de datos, visualización de datos, herramientas e
                    infraestructura de datos, y las prácticas recomendadas para ayudar a las organizaciones a tomar
                    decisiones
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="resumen-servicio">
                <img routerLink="menu/rastreo-satelital" src="assets/icono/principal/rastreo-satelital.png"
                    class="imgzoom p-mr-2 ng-star-inserted">
                <div class="titulo-icono-slider">
                    <h2>Rastreo Satelital</h2>
                </div>
                <p>
                    Determina la ubicación de los vehículos (autos, camiones, entre otros) en tiempo real, a través de
                    sistemas de geolocalización. Estos sistemas de rastreo satelital vehicular tienen la última
                    tecnología desarrollada dentro del mercado
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="resumen-servicio">
                <img routerLink="menu/desarrollo_software" src="assets/icono/principal/desarrollo-de-software.png"
                    class="imgzoom p-mr-2 ng-star-inserted">
                <div class="titulo-icono-slider">
                    <h2 class="titulo-componente">Desarrollo de software</h2>
                </div>
                <p>En la actualidad nos encontramos con cambios vertiginosos en todas las áreas, donde la
                    competitividad se acrecienta y las empresas depende de un mejor control sobre su actividad, servicio
                    y tomar posiciones en el mercado</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="resumen-servicio">
                <img routerLink="menu/diseno_web" src="assets/icono/principal/diseno-web.png"
                    class="imgzoom p-mr-2 ng-star-inserted">
                <div class="titulo-icono-slider">
                    <h2>Diseño web</h2>
                </div>
                <p>En la actualidad nos encontramos con cambios vertiginosos en todas las áreas, donde la
                    competitividad se acrecienta y las empresas depende de un mejor control sobre su actividad, servicio
                    y tomar posiciones en el mercado
                </p>
            </div>
        </div>
    </div>
    <br><br><br>
</div> -->
<div class="footer">
    <div class="footer2">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-footer">
                    <img src="assets/logo/footer.png" alt="logo rsoli.com " height="68" class="imgzoom">
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_footer">
                    <h4 class="titulo-footer">SOBRE NOSOTROS</h4>
                    <p class="contenido-footer">
                        Somos una empresa enfocados al monitoreo satelital que brindamos soluciones
                        a medida, con las ultimas tecnologías
                         y adaptables a las
                        necesidades de cada usuario o empresa.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_footer">
                    <h4 class="titulo-footer">UBICACIÓN</h4>
                    <b class="subtitulo-footer"> Dirección</b>
                    <p class="contenido-footer">Av. Blanco Galindo Km 8.5 Una cuadra al norte</p>
                    <P>Calle Junin - Colcapirhua</P>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_footer">
                    <h4 class="titulo-footer">SEVICIOS DE RASTREO</h4>

                    <a class="contenido-footer">Personas (Hijos,familiares ,etc.)</a>
                    <a class="contenido-footer">Motocicletas</a>
                    <a class="contenido-footer">Taxis</a>
                    <a class="contenido-footer">Vehículos pesados</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_footer">
                    <h4 class="titulo-footer">CONTACTO</h4>

                    <b class="subtitulo-footer">Teléfonos</b>
                    <p class="contenido-footer">+591 76904119</p>
                    <b class="subtitulo-footer">Correo</b>
                    <p class="contenido-footer">track-corp@gmail.com</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="inline" style="text-align: center;">
                    <a href="#" target=”_blank”><img
                            src="assets/icono/redes_sociales/facebook.svg" alt="logo rsoli.com " height="50"
                            class="imgzoom img-redsocial"></a>
                    <a href=""><img src="assets/icono/redes_sociales/instagram.svg" target=”_blank”
                            alt="logo rsoli.com " height="50" class="imgzoom img-redsocial"></a>
                    <a href=""><img src="assets/icono/redes_sociales/tiktok.svg" target=”_blank” alt="logo rsoli.com "
                            height="50" class="imgzoom img-redsocial"></a>
                    <a href=""><img src="assets/icono/redes_sociales/youtube.svg" target=”_blank” alt="logo rsoli.com "
                            height="50" class="imgzoom img-redsocial"></a>
                    <a href="#" target=”_blank”><img src="assets/icono/redes_sociales/whatsapp.svg"
                            alt="logo rsoli.com " height="50" class="imgzoom img-redsocial"></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 text-center">
                    <div class="text-center">
                        <span>
                            <hr>
                            &copy;
                            Track-Corp 2022 &nbsp;<a href="#" style="color: #fff;"></a>
                        </span>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>